body {
    color: #427;
    background-color: #eee;
    font-size: medium;
}

.container {
    width: 980px;
    border: 1px solid #bbb;
    border-radius: 11px;
    font-size: 140%;
}

.navbar {
    background: #aac;
}

.navbar a {
    font-size: 150%;
    font-weight: bold;
    color: #ffc;
}

.navbar a:hover {
    color: #88c;
}

.nav-tabs, .nav-pills {
    margin-top: 5px;
}

.nav-pills>li>a:hover {
    color: #037 !important;
}

.nav-tabs {
    border-bottom: 1px solid #bbb;
}

.nav-tabs>li.active>a {
    border: 1px solid #bbb;
    border-bottom-color: #eee;
    background: transparent;
}

.nav-tabs>li>a:hover {
    border-bottom-color: #bbb;
    background: #fff;
}

.full-width {
    width: 100%
}

.form-row {
    margin-bottom: 15px;
}

.inlined {
    display: inline-block;
}

.table-hover tr:hover td {
    background: #ddf !important;
}

.table-hover tr.active td {
    background: #ff0 !important;
}

